.sp-1 {
    height: 2rem;
}
.sp-2 {
    height: 5rem;
}
button{
    font-size: 20px;
}
img{
    opacity: 0.6;
}
.ft{
    text-align: center;
    right: 0;
    left: 0;
    margin: 0;
    padding: 10px;
}
.bi{
    color: rgb(85, 85, 85);
}
.cent{
    text-align: center;
}
footer{
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 30px 0px;

    position: fixed;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
